.login-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.05);
    backdrop-filter: blur(15px);
}

.login-form p{
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 25px;
    color:rgba(255,255,255,0.8) ;
}

.login{
    display:flex;
    justify-content: center;
    padding: 7px;
}

.login input{
    margin-bottom: 30px;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    padding: 16px 28px;
    border: 0;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
}

.login input:hover {
    background-color: rgba(255,255,255,0.2);
  }

  .form-element{
    margin: 20px 30px;
}

.form-element input{
    outline:none;
    padding:10px 30px;
    margin: 4px 15px;
    border-radius: 12px;
    border-style:ridge;
    font-family: Quicksand;
    font-size: 20px;
    width:250px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

.login-page{
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(40%);
}

.signup{
    position: relative;
    margin-top: 15px;
}




.sign-up{
    display:flex;
    align-items: center;
    justify-content: center;
}

.sign-up .nav{
    font-size: 14px;
    margin-left: 10px;
    margin-right: 7px;
    text-decoration: none;
    color:burlywood;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255,255,255,0.03);
    backdrop-filter: blur(20px);
    border-radius: 5px;
    padding: 5px;
    border: none;
}

.sign-up .nav:hover{
    background-color: rgba(255,255,255,0.11);
}



.sign-up p{
    font-size: 12px;
    color:rgba(255,255,255,0.8) ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
