.signup-element{
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 7px;
    color: rgba(125, 125, 125, 0.8);
}

.signup-row{
    display: flex;
    flex-direction: row;
    color: rgba(125, 125, 125, 0.8);
}

.signupcred{
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255,255,255,0.05);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    border-radius: 12px;
    position: relative;
    top:10%;
}

.signupcred p{
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 25px;
    color:rgba(255,255,255,0.8) ;
}

.signup-element input{
    margin:7px 0px;
    padding:10px 30px;
    border-radius: 12px;
    border-style:ridge;
    font-family: Quicksand;
    font-size: 15px;
    width:250px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
}

.signup-element input:focus {
	padding-left: .5em;
}
.signup-element input:focus + label {
	top: -1.5em;
}

.signup-element select{
    margin:7px 0px;
    padding:10px 30px;
    border-radius: 12px;
    border-style:ridge;
    font-family: Quicksand;
    font-size: 15px;
    width:250px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
}

.signup-element select option{
    background-color:darkslategray;
    color:aqua;
}

.signupcred .mandate{
    padding:10px 20px 0px 20px;
}


 .signupcred .mandate p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color:rgba(191, 41, 41, 0.9);
    text-align: left;
}

.password-element{
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 7px;
    color: rgba(125, 125, 125, 0.8);
}

.password-row{
    display: flex;
    flex-direction: row;
}

.password-element input{
    margin:7px 0px;
    padding:10px 30px;
    border-radius: 12px;
    border-style:ridge;
    font-family: Quicksand;
    font-size: 15px;
    width:250px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
}

.signupcred .btn{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 7px;
}

.signupcred .btn .signup-btn{
    margin-bottom: 30px;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    padding: 16px 28px;
    border: 0;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(38, 38, 38);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
}


.log-in{
    display:flex;
    margin-top:80px ;
    align-items: center;
    justify-content: center;
}

.log-in .nav{
    font-size: 14px;
    margin-left: 10px;
    margin-right: 7px;
    text-decoration: none;
    color:burlywood;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255,255,255,0.03);
    backdrop-filter: blur(20px);
    border-radius: 5px;
    padding: 5px;
    border: none;
}

.log-in .nav:hover{
    background-color: rgba(255,255,255,0.11);
}



.log-in p{
    font-size: 12px;
    color:rgba(255,255,255,0.8) ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
